*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;

}

ul li {
    color: white;
    list-style: circle;
    display: inline;
    font-weight: 800;
    font-size: larger;
}


ul li a{
    text-decoration: none;
}


body {
    display: grid;
    /* place-items: center; */
    background-image: url(/assets/images/pexels-johannes-plenio-2850287.jpg);

}

h1 {
    font-family: 'Lilita One', cursive;
}

textarea{
    border-radius: 6px;
    width: 80%;
    background-color: #202328;
    resize: none;
    font-size: large;
    color: white;
    font-weight:bold ;
    justify-content: center;
/*                                                                  input area                                               */
    border-style: none;
    
    line-height: 43px;
    height: 43px;
    overflow: hidden;
    white-space: nowrap;
    outline: 0;
    text-align: right;
    padding-left: 13px;
}

.history{
    margin: 10px 0;
    height: 150px;
    background-color: #202328;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}


#mod{
    font-weight:100;
    font-size: large;
}


.screen{
    display: flex;
    gap: 7px;
}


img{
    height: 100%;
    width: 70%;
}


.erase-button{
    width: 50px;
    background-color: rgb(32, 35, 40);
    border-radius: 6px;
    border-style: none;
    height: 43px;
    width: 60px;
}


.buttons button{
    background-color: rgb(32, 35, 40);
    color: white;
    border-radius: 6px;
    height: 43px;
    width: 60px;
    border: none;
    cursor: pointer;
}


.numbers{
    font-weight: bold;
    font-size: large;
}


.container {
    padding: 20px;
}

.interface{
    width: 25%;
    margin: 0 auto;
    padding: 10px;
    background-color: #1c1d21;
    text-align: center;
    color: white;
    border-radius: 10px;
}


#equals{
    background-color: rgb(91, 143, 185);
    height: 91px;
    font-size: larger;

}


.buttons {
    align-self: center;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 200px;
    margin-top: 10px;
}

#erase-button:hover{
    background-color: rgb(45, 40, 32);
}

#equals:hover{
    background-color: rgb(97, 160, 190);
}

button:hover {
    background-color: rgb(35, 40, 45);
}

.button:active {
    top: -11px;
}

/*                                              grid section for buttons                                                    */
#zero{
    grid-column: 1/1;
    grid-row: 4/4;
}

#one{
    grid-column: 1/2;
    grid-row: 3/4;
}

#two{
    grid-column: 2/3;
    grid-row: 3/4;
}

#three{
    grid-column: 3/4;
    grid-row: 3/4;
}

#four{
    grid-column: 1/2;
    grid-row: 2/3;
}

#five{
    grid-column: 2/3;
    grid-row: 2/3;
}

#six{
    grid-column: 3/4;
    grid-row: 2/3;
}

#seven{
    grid-column: 1/2;
    grid-row: 1/2;
}

#eight{
    grid-column: 2/3;
    grid-row: 1/2;
}


#nine{
    grid-column: 3/4;
    grid-row: 1/2;
}

#comma{
    grid-column: 2/3;
    grid-row: 4/5;
}

#mod{
    grid-column: 3/4;
    grid-row: 4/5;
}


#divid{
    grid-column: 4/5;
    grid-row: 4/5;
}

#add{
    grid-column: 4/5;
    grid-row: 3/4;
}

#subtract{
    grid-column: 4/5;
    grid-row: 2/3;
}

#o-bracket{
    grid-column: 4/5;
    grid-row: 1/2;
}

#c-bracket{
    grid-column: 5/6;
    grid-row: 1/2;
}

#multiply{
    grid-column: 5/6;
    grid-row: 2/3;
}

#equals{
    grid-column: 5/6;
    grid-row: 3/ span 2;
}

